<div class="search">
    <h2>詳細検索</h2>

    <form action="<%= url('/advanced-search') %>" method="GET">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label text-right">書名</label>
            <div class="col-sm-10">
                <input id="title" name="title" type="text" class="form-control"
                        placeholder="例:ハリーポッター" value="<%= params[:title] %>">
            </div>
        </div>

        <div class="form-group row">
            <label for="author" class="col-sm-2 col-form-label text-right">著者名</label>
            <div class="col-sm-10">
                <input id="author" name="author" type="text" class="form-control"
                placeholder="例: J.K.ローリング" value="<%= params[:author] %>">
            </div>
        </div>

        <div class="form-group row">
            <label for="publisher" class="col-sm-2 col-form-label text-right">出版社</label>
            <div class="col-sm-10">
                <input id="publisher" name="publisher" type="text" class="form-control"
                       placeholder="例: 静山社" value="<%= params[:publisher] %>">
            </div>
        </div>

        <div class="form-group row">
            <label for="isbn" class="col-sm-2 col-form-label text-right">ISBN</label>
            <div class="col-sm-10">
                <input id="isbn" name="isbn" type="text" class="form-control"
                       placeholder="例: ISBN4-577-80292-9" value="<%= params[:isbn] %>">
            </div>
        </div>


        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label text-right">出版年</label>
            <div class="col-sm-10">
                <select id="year" name="year" class="custom-select">
                    <option <%= " selected" if params[:year].to_i == 0 %> value="">出版年</option>
                    <% @available_years.each do |year| %>
                        <option value="<%= year %>" <%= " selected" if params[:year].to_i == year %>><%= year %></option>
                    <% end %>
                </select>
            </div>
        </div>

        <div class="buttons text-center">
            <a href="<%= url('/advanced-search') %>" class="btn btn-light mr-5">クリア</a>
            <input id="search-button" class="btn btn-primary" type="submit" value="検索">
        </div>
    </form>
</div>

<%= erb :results %>
